<div class="row user-avatar">
  <%= @user.image %>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= @user.username %>
    <%= @user.first_name %>
    <%= @user.last_name %>
  </div>
</div>

