<%= form_tag "/contact/#{contact.id}", method: "patch", remote: true, id: "edit_contact_#{contact.id}" do %>
  <%= hidden_field_tag :user_id, value: current_user.id, form: "edit_contact_#{contact.id.to_s}" %>
  <td>
    <%= text_field_tag :last_name, contact.last_name, class: "form-control", form: "edit_contact_#{contact.id.to_s}" %>
  </td>
  <td>
    <%= text_field_tag :first_name, contact.first_name, class: "form-control", form: "edit_contact_#{contact.id.to_s}" %>
  </td>
  <td>
    <%= email_field_tag :email_address, contact.email_address, class: "form-control", form: "edit_contact_#{contact.id.to_s}" %>
  </td>
  <td>
    <%= phone_field_tag :phone_number, contact.phone_number, class: "form-control", form: "edit_contact_#{contact.id.to_s}" %>
  </td>
  <td>
    <%= text_field_tag :mailing_address, contact.mailing_address, class: "form-control", form: "edit_contact_#{contact.id.to_s}" %>
  </td>
  <td id="company-select-form">
    <%= select_tag :company_id, options_for_select(companies.map { |c| [c.name, c.id] }), class: "form-control", id: "company-select", form: "edit_contact_#{contact.id.to_s}" %>
  </td>
  <td>
    <%= submit_tag "Update", class: "btn btn-block btn-success", class: "form-control", form: "edit_contact_#{contact.id.to_s}" %>
  </td>
  <td>
    <%= link_to "Cancel", user_contacts_path(current_user), class: "btn btn-primary" %>
  </td>
<% end %>
