<% if notice %>
  $(".container").html("<%= j render partial: 'job_applications/form', locals: { job_application: @job_application } %>");
  $("#new_company_toggle").toggle();
  $(".container").prepend("<div class='alert alert-success'>\
                             <%= flash[:notice] %>\
                           </div>");
<% elsif alert %>
  $(".container").prepend("<div class='alert alert-danger'>\
                             <%= flash[:alert] %>\
                           </div>");
<% end %>
