<% if notice %>
  $(".container").prepend("<div class='alert alert-success'>\
                             <%= flash[:notice] %>\
                           </div>");
<% elsif alert %>
  $(".container").prepend("<div class='alert alert-danger'>\
                             <%= flash[:alert] %>\
                           </div>");
<% end %>
