/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch";
@import "main";
@import "animate";
@import "font-awesome";
@import "bootstrap-tour.min.css";

.col-center {
  margin: auto;
  float: none;
}

.file-attachment {
  height: 50vh;
  padding: none;
  border: none;
  margin-bottom: 10px;
}

.job-application-tile {
  padding: 10px;
  text-align: center;
}

.application-company-info {
  text-align: center;
  margin: auto;
  float: none;
}

.applied {
  background-color: #ddd;
}

.phone-screen {
  background-color: #AED1D1;
}

.phone-interview {
  background-color: #C1E8C1;
}

.on-site-interview {
  background-color: #E9B081;
}

.recieved-offer {
  background-color: #6ABA68;
}

#hide-job-application-form {
  float: right;
}

.job-application-show-container {
  text-align: center;
  .btn-warning {
    text-align: right;
  }
}

.stars {
  text-align: center;
}

span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

span.td {
  display:table-cell;
}

form.tr, div.tr {
  display: table-row;
}

.inline {
  display: inline;
}
